<!DOCTYPE html>
<html>
<head>
    <title>Production Dashboard</title>
</head>
<style>
    table
    {
        width: 100%;
        display: none;
    }

    th, td
    {
        border: 1px solid red;
        text-align: center;
    }
</style>
<body>

    <h1>Check last 7 weights which are below 7gms.</h1>

    <button onclick="open_button()">CLick To See</button>

    <table id="my_table">
        <tr>
            <th>ID</th>
            <th>Batch</th>
            <th>Machine</th>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>Line</th>
            <th>Product</th>
            <th>Weight</th>
            <th>Operator</th>
        </tr>

        <hr>

        {% for row in ans%}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td>{{row[7]}}</td>
            <td>{{row[8]}}</td>
            <td>{{row[9]}}</td>
        </tr>
        {%endfor%}
    </table>

    <hr>

    <h2>Data more than 7.5gms</h2>
    <button onclick="open_button2()">CLick To See</button>

    <table id="my_table2">
        <tr>
            <th>ID</th>
            <th>Batch</th>
            <th>Machine</th>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>Line</th>
            <th>Product</th>
            <th>Weight</th>
            <th>Operator</th>
        </tr>

            {% for row1 in ans2%}
            <tr>
                <td>{{row1[0]}}</td>
                <td>{{row1[1]}}</td>
                <td>{{row1[2]}}</td>
                <td>{{row1[3]}}</td>
                <td>{{row1[4]}}</td>
                <td>{{row1[5]}}</td>
                <td>{{row1[6]}}</td>
                <td>{{row1[7]}}</td>
                <td>{{row1[8]}}</td>
                <td>{{row1[9]}}</td>
            </tr>
            {%endfor%}
        </tr>
    </table>

    <script>
        function open_button(){
            document.getElementById("my_table").style.display="table"
        }

        function open_button2(){
            document.getElementById("my_table2").style.display="table"
        }
    </script>

</body>
</html>
